.active{
    text-decoration: none;
    color: red;
    margin: 0 10px;
    font-weight: 600;
}

.default{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0 10px;
   

}